{% extends 'static_pages/generic_static_page.html' %}

{% load staticfiles %}

{% block subtitle %} | About this website {% endblock%}
{% block page_title %}Our team {% endblock%}

{% block static_content %}

<div class="container">
    <h4>Since the project started, the following people have contributed to this project:</h4> 
	<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dmitri Toren, Ben-Gurion University of the Negev, Beer-Sheva, Israel
	<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thomer Barzilay, Ben-Gurion University of the Negev, Beer-Sheva, Israel
	<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Robi Tacutu, Ben-Gurion University of the Negev, Beer-Sheva, Israel; University of Liverpool, Liverpool, UK
	<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gilad Lehmann, Ben-Gurion University of the Negev, Beer-Sheva, Israel; Technion – Israel Institute of Technology, Haifa, Israel
	<hr/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Khachik K. Muradian, Institute of Gerontology, Kiev, Ukraine
	<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vadim E. Fraifeld, Ben-Gurion University of the Negev, Beer-Sheva, Israel
	<br/><br/>
</div>

{% endblock %}
