{% extends 'base.html' %}

{% load staticfiles %}

{% block subtitle%} | About this website {% endblock%}

{% block content %}
<br />
<p>
	<strong>
		<span style="font-family: 'times new roman', times; font-size: medium;">About this website</span>
	</strong>
</p>
	<a href="{% url 'test_page' %}">Link to a test page</a>
	<a href="/admin/">Link to admin</a>

<br/>

<p>
	<span style="font-family: 'times new roman', times; font-size: medium;">
MitoAge is a story about a database ...  
	</span>
	<img src="" alt="Add image here">
	
</p>
{% endblock %}
