{% extends 'static_pages/generic_static_page.html' %}

{% load staticfiles %}

{% block subtitle %} | Gene aliases {% endblock%}
{% block page_title %}Gene aliases{% endblock%}

{% block static_content %}

	<h4>Alternative names for mitochondrial genes (in alphabetic order):</h4><br/>

	<p>Please find below a list of alternative names for mitochondrial genes. <br/>These names are found in the NCBI database in profiles,  
	and are submitted by users (hence are not necessarily official names.</p>
	<br/>

	<b>ATP6:</b> ATPASE-6, SU6M, AT6, ATPASE 6<br/><br/>
	<b>ATP8:</b> ATPASE 8, A6L, AT8<br/><br/>
	<b>COX1:</b> COXI, COI, CO1<br/><br/>
	<b>COX2:</b> COXII, CO2, COII<br/><br/>
	<b>COX3:</b> COXIII, COIII, CO3<br/><br/>
	<b>CYTB:</b> Cb, CYT B, COB, UQCR3<br/><br/>
	<b>ND1:</b> NADH1, NAD1, NDI<br/><br/>
	<b>ND2:</b> NADH2, NAD2<br/><br/>
	<b>ND3:</b> NAD3, NADH3<br/><br/>
	<b>ND4:</b> NAD4, NADH4<br/><br/>
	<b>ND4L:</b> NADH4L, NAD4L<br/><br/>
	<b>ND5:</b> NAD5, NADH5<br/><br/>
	<b>ND6:</b> NAD6, NADH6<br/><br/>
	<b>rRNA-12S:</b> 12S RRNA, RRNS, RRNA-12S, 12S RIBOSOMAL RNA, S-RRNA, SRRNA<br/><br/>
	<b>rRNA-16S:</b> 16S RRNA, RRNL, RRNA-16S, 16S RIBOSOMAL RNA, L-RRNA, LRRNA, MTLSU RRNA, LSU rRNA, mtLSU-rRNA, LSU rRNA<br/><br/>

{% endblock %}
