{% extends 'static_pages/generic_static_page2.html' %}

{% load staticfiles %}

{% block subtitle %} | Downloads page {% endblock%}

{% block static_content %}
	
	<h3 class="text-center">MitoAge Build 1.0 - downloads</h3>
		
		<h4>Build download:</h4>
			<p>Please use the following link to download the entire build:
				<a class="btn btn-xs btn-primary" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_full_database.zip">Download all datasets</a>
			</p>
			<br/>
			<div class="row">
				<div class="col-md-6">
					<h4>Downloads for specific mtDNA regions:</h4>
					<div class="col-md-2"><a class="btn btn-xs btn-success" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_total_rna.zip">Download</a></div> 
					<div class="col-md-10"><p>Total mtDNA base composition</p></div> 
					
					<div class="col-md-2"><a class="btn btn-xs btn-success" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_protein_coding_rna.zip">Download</a></div>
					<div class="col-md-10"><p>Protein-coding genes (base composition and codon usage)</p></div>

					<div class="col-md-2"><a class="btn btn-xs btn-success" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_ribosomal_rna.zip">Download</a></div>
					<div class="col-md-10"><p>Total rRNA-coding genes (base composition)</p></div>
					
					<div class="col-md-2"><a class="btn btn-xs btn-success" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_transfer_rna.zip">Download</a></div>
					<div class="col-md-10"><p>Total tRNA-coding genes (base composition)</p></div>
					
					<div class="col-md-2"><a class="btn btn-xs btn-success" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_d_loop_rna.zip">Download</a></div>
					<div class="col-md-10"><p>D-loop (base composition)</p></div>
				</div>
				<div class="col-md-6">
					<h4>Downloads for mtDNA protein-coding genes:</h4>
					<div class="col-md-2"><a class="btn btn-xs btn-info" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_gene_atp6.zip">Download</a></div>
					<div class="col-md-1"><p>ATP6</p></div>
					<div class="col-md-9"><p>(base composition and codon usage)</p></div>
					<div class="col-md-2"><a class="btn btn-xs btn-info" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_gene_atp8.zip">Download</a></div>
					<div class="col-md-1"><p>ATP8</p></div>
					<div class="col-md-9"><p>(base composition and codon usage)</p></div>
					<div class="col-md-2"><a class="btn btn-xs btn-info" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_gene_cox1.zip">Download</a></div>
					<div class="col-md-1"><p>COX1</p></div>
					<div class="col-md-9"><p>(base composition and codon usage)</p></div>
					<div class="col-md-2"><a class="btn btn-xs btn-info" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_gene_cox2.zip">Download</a></div>
					<div class="col-md-1"><p>COX2</p></div>
					<div class="col-md-9"><p>(base composition and codon usage)</p></div>
					<div class="col-md-2"><a class="btn btn-xs btn-info" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_gene_cox3.zip">Download</a></div>
					<div class="col-md-1"><p>COX3</p></div>
					<div class="col-md-9"><p>(base composition and codon usage)</p></div>
					<div class="col-md-2"><a class="btn btn-xs btn-info" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_gene_cytb.zip">Download</a></div>
					<div class="col-md-1"><p>CYTB</p></div>
					<div class="col-md-9"><p>(base composition and codon usage)</p></div>
					<div class="col-md-2"><a class="btn btn-xs btn-info" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_gene_nd1.zip">Download</a></div>
					<div class="col-md-1"><p>ND1</p></div>
					<div class="col-md-9"><p>(base composition and codon usage)</p></div>
					<div class="col-md-2"><a class="btn btn-xs btn-info" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_gene_nd2.zip">Download</a></div>
					<div class="col-md-1"><p>ND2</p></div>
					<div class="col-md-9"><p>(base composition and codon usage)</p></div>
					<div class="col-md-2"><a class="btn btn-xs btn-info" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_gene_nd3.zip">Download</a></div>
					<div class="col-md-1"><p>ND3</p></div>
					<div class="col-md-9"><p>(base composition and codon usage)</p></div>
					<div class="col-md-2"><a class="btn btn-xs btn-info" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_gene_nd4.zip">Download</a></div>
					<div class="col-md-1"><p>ND4</p></div>
					<div class="col-md-9"><p>(base composition and codon usage)</p></div>
					<div class="col-md-2"><a class="btn btn-xs btn-info" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_gene_nd4l.zip">Download</a></div>
					<div class="col-md-1"><p>ND4L</p></div>
					<div class="col-md-9"><p>(base composition and codon usage)</p></div>
					<div class="col-md-2"><a class="btn btn-xs btn-info" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_gene_nd5.zip">Download</a></div>
					<div class="col-md-1"><p>ND5</p></div>
					<div class="col-md-9"><p>(base composition and codon usage)</p></div>
					<div class="col-md-2"><a class="btn btn-xs btn-info" href="https://s3-eu-west-1.amazonaws.com/mitoage/mitoage_build1_gene_nd6.zip">Download</a></div>
					<div class="col-md-1"><p>ND6</p></div>
					<div class="col-md-9"><p>(base composition and codon usage)</p></div>
				</div>
			</div>
{% endblock %}
