{% extends 'static_pages/generic_static_page.html' %}

{% load staticfiles %}

{% block subtitle %} | Frequently asked questions {% endblock%}
{% block page_title %}Frequently asked questions {% endblock%}

{% block static_content %}

	<p><b>Q: </b>What can I find in MitoAge?</p>
	<p><b>A: </b>MitoAge contains calculated mtDNA compositional features of the entire mitochondrial genome, mtDNA coding (tRNA, rRNA, protein-coding genes) and 
	non-coding (D-loop, insertions) regions, codon usage for each protein-coding gene, and longevity records for over 900 species from all taxa of the 
	Animalia kingdom.<br/><br/></p>

	<p><b>Q: </b>What tools are available?</p>
	<p><b>A: </b>
	The MitoAge database provides tools for easy searching and browsing through species and taxonomic groups, as well as the posiblity to download
	the entire datasets. Additionally, a series of basic sequence statistics are available through the website.  
	<br/><br/></p>
	
	<p><b>Q: </b>How do I search for entries?</p>
	<p><b>A: </b>To look for entries you may use the free form search input field at the top of the website. 
	Search is case insensitive, and you can search both through species' common or scientific names.<br/><br/></p>
	
	<p><b>Q: </b>How can I download a specific dataset?</p>
	<p><b>A: </b>Several possibilities to download specific data exist. 1) While browsing various taxonomic groups, an export panel is presented. 
	Users can select the region of interest and then export the raw data for each of the species in the group. 2) Similarly, while browsing the stats
	for specific taxonomic groups, the export option can be accessed directly for each region. 3) Additionally, from the <a href="{% url 'download' %}">download section</a> 
	you can also retrieve the entire data categorized by the mtDNA region.<br/><br/></p>
	
	<p><b>Q: </b>How can I download the whole database?</p>
	<p><b>A: </b>Please go to the <a href="{% url 'download' %}">download page</a>. You will have the option of downloading the entire database as well as the entire dataset
	for certain mtDNA regions. <br/><br/></p>
	
	<p><b>Q: </b>What statistics fuctions are available for taxonomic groups?</p>
	<p><b>A: </b>Range (min-max), average ± stdev, median and coefficent of variation are provided for all data sections in any taxonomic group. 
	Values that are assessed in this way include base composition, GC/AT fractions and maximum lifespan. {% comment %} Additionally, the Spearman correlation 
	coefficient of maximum lifespan with some of the mtDNA characteristics is also computed.{% endcomment %}<br/><br/></p>
	
	<p><b>Q: </b>Where can I find more information for a certain species (e.g. relevant mtDNA data like metabolic rate and body temperature)</p>
	<p><b>A: </b>More data related to longevity in animals can be found at <a href="http://genomics.senescence.info/species/">AnAge</a>, a curated database of ageing and life 
	history in animals.<br/><br/></p>
	
	<p><b>Q: </b>I cannot find info on the gene that I am interested in.  What to do?</p>
	<p><b>A: </b>Firstly, please check again the name of the gene. 
	Second, check the alternative gene names (aliases) in our database - it is possible sometimes to find the gene under a different name.
	For your convenience, a list of aliases may be found on our <a href="{% url 'aliases' %}">Aliases</a> page. 
	Lastly, please keep in mind that our database hosts information only for mtDNA genes, and that there are species in which not all the gene exist.
	</p>

{% endblock %}