{% extends 'static_pages/generic_static_page.html' %}

{% load staticfiles %}

{% block subtitle %} | Glossary and definitions {% endblock%}
{% block page_title %}Glossary and definitions {% endblock%}

{% block static_content %}

<dl class="dl-horizontal">
  <dt>mtDNA</dt>
  <dd>the DNA located in mitochondria, cellular organelles within eukaryotic cells that convert chemical energy from food into a form that cells can use, adenosine triphosphate (ATP). Mitochondrial DNA is only a small portion of the DNA in a eukaryotic cell; most of the DNA can be found in the cell nucleus and, in plants, in the chloroplast.<br/><br/></dd>

  <dt>Maximum lifespan</dt>
  <dd>a measure of the maximum amount of time one or more members of a population has been observed to survive between birth and death. The term can also denote an estimate of the maximum amount of time that a member of a given species could survive between life and death, provided circumstances that are optimal to their longevity.<br/><br/></dd>

  <dt>Metabolic rate</dt>
  <dd>the body’s energy expenditure per unit of time or the rate at which metabolism occurs in a living organism.<br/><br/></dd>

  <dt>Body temperature</dt>
  <dd>temperature of the body<br/><br/></dd>

  <dt>Base composition</dt>
  <dd>The ratio of guanine + cytosine (GC) to adenine + thymine (AT) nucleotides in a nucleic acid; BC is usually expressed as a guanine + cytosine (G+C) value—e.g., 60% G+C. The GC content is of interest given that guanine and cytosine share three hydrogen bonds in double-stranded nucleic acids, compared to the two shared by adenine and thymine; the higher the GC content, the more stable the nucleic acid.<br/><br/></dd>

  <dt>Codon usage</dt>
  <dd>the codon usage or codon preference is a statistical property of DNA sequences that encode proteins, i.e. open-reading frames.<br/><br/></dd>

  <dt>Amino acid frequency</dt>
  <dd>Genetic information contained in mRNA is in the form of codons, sequences of three nucleotides, which are translated into amino acids which then combine to form proteins. At certain sites in a protein's structure, amino acid composition is not critical. Yet certain amino acids occur at such sites up to six times more often than other amino acids. In the 1960's, molecular biologists sought to determine if amino acid composition was a reflection of the genetic code or if certain amino acids were naturally selected as optimal.<br/><br/></dd>

  <dt>Stop codons</dt>
  <dd>In the genetic code, a stop codon (or termination codon) is a nucleotide triplet within messenger RNA that signals a termination of translation. Proteins are based on polypeptides, which are unique sequences of amino acids.<br/><br/></dd>

  <dt>D-loop</dt>
  <dd>In molecular biology, a displacement loop or D-loop is a DNA structure where the two strands of a double-stranded DNA molecule are separated for a stretch and held apart by a third strand of DNA. The third strand has a base sequence which is complementary to one of the main strands and pairs with it, thus displacing the other complementary main strand in the region. Within that region the structure is thus a form of triple-stranded DNA. A diagram in the paper introducing the term illustrated the D-loop with a shape resembling a capital "D", where the displaced strand formed the loop of the "D".<br/><br/></dd>

  <dt>Control region</dt>
  <dd>The mtDNA control region is an area of the mitochondrial genome which is non-coding DNA. It is the most polymorphic region of the human mtDNA genome, with polymorphism concentrated in hypervariable regions. The average nucleotide diversity in these regions is 1.7%. Despite this variability, an RNA transcript from this region has a conserved secondary structure which has been found to be under selective pressure.<br/><br/></dd>

  <dt>Non-coding sequences</dt>
  <dd>sequences are components of an organism's DNA that do not encode protein sequences. Some noncoding DNA is transcribed into functional non-coding RNA molecules (e.g. transfer RNA, ribosomal RNA, and regulatory RNAs). Other functions of noncoding DNA include the transcriptional and translational regulation of protein-coding sequences, scaffold attachment regions, origins of DNA replication, centromeres and telomeres.<br/><br/></dd>

  <dt>tRNA coding genes</dt>
  <dd>A transfer RNA (abbreviated tRNA and archaically referred to as sRNA, for soluble RNA) is an adaptor molecule composed of RNA, typically 76 to 90 nucleotides in length, that serves as the physical link between the nucleotide sequence of nucleic acids (DNA and RNA) and the amino acid sequence of proteins. It does this by carrying an amino acid to the protein synthetic machinery of a cell (ribosome) as directed by a three-nucleotide sequence (codon) in a messenger RNA (mRNA). As such, tRNAs are a necessary component of protein translation, the biological synthesis of new proteins according to the genetic code.<br/><br/></dd>

  <dt>rRNA coding genes</dt>
  <dd>ribosomal ribonucleic acid (rRNA) is the RNA component of the ribosome, and is essential for protein synthesis in all living organisms. It constitutes the predominant material within the ribosome, which is approximately 60% rRNA and 40% protein by weight. Ribosomes contain two major rRNAs and 50 or more proteins. The ribosomal RNAs form two subunits, the large subunit (LSU) and small subunit (SSU). The LSU rRNA acts as a ribozyme, catalyzing peptide bond formation. rRNA sequences are widely used for working out evolutionary relationships among organisms, since they are of ancient origin and are found in all known forms of life.<br/><br/></dd>

  <dt>Protein coding genes</dt>
  <dd>a gene includes more than the nucleotides encoding the amino acid sequence of a protein, referred to as the coding region. A gene also includes all the DNA sequences required for synthesis of a particular RNA transcript.<br/><br/></dd>

  <dt>Heavy strand, Light strand</dt>
  <dd>Circular molecules of DNA, such as plasmids and typical mitochondrial genomes, consist of two strands of DNA called the heavy strand (or H-strand) and the light strand (or L-strand). The two strands have different masses due to different proportions of heavier nucleotides. While this difference is not known to have any functional significance, it can be used in the laboratory to segregate the strands of denatured DNA, and hence to analyze the strands separately.
  	Adenine and guanine (purines) are heavier than cytosine and thymine (pyrimidines) due to their extra ring. Because a purine always pairs with a pyrimidine, any excess of purines in one strand will occur with a corresponding excess of pyrimidines in the other strand and vice versa. Statistically, there is more likely to be such an imbalance than an exact 50/50 ratio. In addition, bias may arise due to differentials in the amount of protein-coding sequence on each strand, as codons do not all occur with equal frequency.<br/><br/></dd>

  <dt>AnAge database</dt>
  <dd>Maximum lifespan database for animalia<br/><br/></dd>

  <dt>NCBI</dt>
  <dd>nuccore database for nucleotide sequences.<br/><br/></dd>

  <dt>ITIS database</dt>
  <dd>taxonomy database.<br/><br/></dd>

</dl>
{% endblock %}
