{% extends 'static_pages/generic_static_page.html' %}

{% load staticfiles %}

{% block subtitle %} | Glossary and definitions {% endblock%}
{% block page_title %}Glossary and definitions {% endblock%}

{% block static_content %}

    <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>
	
	<div class="col-md-4 col-md-offset-4">
    	<img class="img-rounded img-responsive center-block thumbnail" src="{% static 'images/website_under_construction.jpg' %}"/>
	</div>

{% endblock %}
