{% extends 'static_pages/generic_static_page.html' %}

{% load staticfiles %}

{% block subtitle %} | Glossary and definitions {% endblock%}
{% block page_title %}Glossary and definitions {% endblock%}

{% block static_content %}

<dl class="dl-horizontal">
	<dt>mtDNA</dt>
	<dd>the DNA located in mitochondria. In contrast to nuclear DNA, it is of a relatively small size (eg, 16.5 kb in humans), generally circular, extremely compact (lack of introns), asymmetric, exhibits polycistronic transcription and exists in multiple copies.<br/><br/></dd> 
	
	<dt>Heavy strand (H-strand)</dt>
	<dd>Guanine-rich strand of mtDNA. Guanine is heavier than cytosine. Most of protein-coding genes (12 out of 13) and rRNA-coding genes are transcribed from H-strand.  <br/><br/></dd>
	
	<dt>Light strand</dt>
	<dd>Cytosine-rich strand of mtDNA. <br/><br/></dd>
	
	<dt>Base composition</dt>
	<dd>The absolute or relative numbers (% or per 1 kb) of bases (A, G, T, C) or their sums (G+C, GC content; A+T, AT content) in a given strand. Note that in double-stranded DNA, G and C form three hydrogen bonds with their complementary bases, while A and T form two hydrogen bonds. Thus, the higher the GC content, the more stable the mtDNA.<br/><br/></dd>
	
	<dt style='white-space: normal;'>mtDNA protein-coding genes</dt>
	<dd>The genes in mtDNA coding for proteins that are translated in mitochondria. All these proteins belongs to respiratory chain.<br/><br/><br/></dd>
	
	<dt>Codon usage</dt>
	<dd>the codon usage, or codon preference is the relative number of a given codon in the mRNA transcripts encoded by mtDNA. Note that T in mtDNA in transcribed as U in codons. Besides, the genetic code of mtDNA differs from that of nDNA.<br/><br/></dd>
	
	<dt style='white-space: normal;'>mtDNA rRNA-coding genes</dt>
	<dd>there are two rRNA genes in mtDNA (small 12S and large 16S subunits), which transcripts are the components of the mitochondrial ribosome. <br/><br/><br/></dd>
	
	<dt style='white-space: normal;'>mtDNA tRNA-coding genes</dt>
	<dd>the mtDNA contains 22 genes encoding tRNAs that participate in mitochondrial translation system. <br/><br/><br/></dd>
	
	<dt>Control region</dt>
	<dd>the mtDNA control region is the largest non-coding sequence of the mitochondrial genome. It participates in the control of transcription and replication of mtDNA and is the most variable part of the mitochondrial genome. In mammals, the control region is defined as a sequence between tRNA-phenylalanine in the H-strand and rRNA-proline in the L-strand. In many non-mammalian species, the exact location of the control region has not yet been annotated. Moreover, a number of species has duplicated control region.<br/><br/></dd> 
	
	<dt>D-loop</dt>
	<dd>a displacement loop (D-loop) is a DNA structure where the two strands of a double-stranded mtDNA are separated for a stretch and held apart by a third strand of DNA. Within that region, the structure is thus a form of triple-stranded DNA. As such, D-loop covers most of the mtDNA control region. In NCBI, the exact boundaries of D-loop (as well as the control region) are not yet annotated for many species. Although it is not exactly the same, many authors (and NCBI) use the D-loop and control region as synonyms. <br/><br/></dd>
	
	<dt>Maximum lifespan</dt>
	<dd>lifespan of the longest-lived individual of a given species. Most of the maximum lifespan records were obtained in captivity, ie, in an environment protected from extrinsic hazards, thus enhancing the probability to approach species-specific longevity potential. Therefore, maximum lifespan records are used as an estimate of longevity and, to some extent, inversely reflect the rate of aging.<br/><br/></dd>
</dl>
{% endblock %}
