{% extends 'base.html' %}

{% load staticfiles %}

{% block subtitle%} | Home{% endblock%}

{% block content %}
	<div class="col-md-12 column">
			<h1>Welcome to MitoAge!</h1>
			
			<h3>What is MitoAge?</h3>
			<p>
				The rapidly increasing number of species with fully sequenced mitochondrial DNA (mtDNA), together with accumulated data on longevity records, 
				provide new fascinating bases for the analysis of the links between mtDNA features and longevity across animals. 
				To facilitate such an analysis, and to support the scientific community in carrying it out, we developed MitoAge – a curated, 
				publicly available database, containing an extensive collection of calculated mtDNA data records, and integrated it with longevity records. 
				The MitoAge website also provides the basic tools for comparative analysis of mtDNA, with a special focus on animal longevity.
			</p>
			<h3>Why is it important?</h3>
			<p>
				Mitochondria are the most “hard-working” organelles and the only organelles in the animal cell that have their own genome.  They 
				have long been considered one of the major players in the mechanisms of aging, longevity and age-related diseases<sup>1</sup>. 
				We and others have shown strong correlative links between mammalian maximum lifespan and mtDNA base composition. In particular, 
				the mtDNA GC content appears to be an independent and powerful predictor of mammalian longevity<sup>2, 3</sup>. 
			</p>
			<small>
				1. Gonzalez-Freire M, de Cabo R, Bernier M, Sollott SJ, Fabbri E, Navas P, Ferrucci L. Reconsidering the Role of Mitochondria 
				in Aging. J Gerontol A Biol Sci Med Sci. 2015; pii:glv070. <a href="http://www.ncbi.nlm.nih.gov/pubmed/25995290"><img src="{% static 'images/pubmed.gif' %}"/></a><br/>
				2. Lehmann G, Segal E, Muradian KK, Fraifeld VE. Do mitochondrial DNA and metabolic rate complement each other in determination of 
				the mammalian maximum <br/>longevity? Rejuvenation Res. 2008; 11:409-17. <a href="http://www.ncbi.nlm.nih.gov/pubmed/18442324"><img src="{% static 'images/pubmed.gif' %}"/></a><br/>
				3. Lehmann G, Muradian KK, Fraifeld VE. Telomere length and body temperature-independent determinants of mammalian longevity? 
				Front Genet. 2013; 4:111. <a href="http://www.ncbi.nlm.nih.gov/pubmed/23781235"><img src="{% static 'images/pubmed.gif' %}"/></a>
			</small>
			<br/>
			<h3>What data is available?</h3>
			<p>
				MitoAge contains calculated mtDNA compositional features of the entire mitochondrial genome, mtDNA coding (tRNA, rRNA, protein-coding genes) and 
				non-coding (D-loop, insertions) regions, codon usage for each protein-coding gene, and longevity records for over 900 species from all taxa of the 
				Kingdom Animalia. For more details, please see: <br/><a href="{% url 'user_guide' %}">Help - User Guide</a>.
			</p>
			<h3>What tools are available?</h3>
			<p>
				The MitoAge database provides tools for easy searching and browsing through species and taxonomic groups, as well as the posiblity to download
				the entire datasets. Additionally, a series of basic sequence statistics are available through the website.  
			</p>
			
	</div>
{% endblock%}

