{% extends 'static_pages/generic_static_page.html' %}

{% load staticfiles %}

{% block subtitle %} | Terms of use {% endblock%}
{% block page_title %}Terms of use {% endblock%}

{% block static_content %}

	<p>The MitoAge database is free for all purposes, including commercial, educational, and research purposes, provided however that you cite 
	the usage of MitoAge in subsequent presentations, publications, etc. Although referring to the URL might be enough in some cases (e.g., teaching 
	and websites), for scientific publications we ask that you cite the paper describing MitoAge.</p> 
	
	<p>
		If you would like to cite this database please use: Toren D, Barzilay T, Tacutu R, Lehmann G, Muradian KK, Fraifeld VE. <b>MitoAge: a 
		database for comparative analysis of mitochondrial DNA, with a special focus on 
		animal longevity.</b> <i>Nucleic Acids Res.</i> 2016 Jan 4; 44(D1):D1262-5. doi: 10.1093/nar/gkv1187. Epub 2015 Nov 20.
	</p>
						
{% endblock %}
