{% extends 'static_pages/generic_static_page.html' %}

{% load staticfiles %}

{% block subtitle %} | Terms of use {% endblock%}
{% block page_title %}Terms of use {% endblock%}

{% block static_content %}

	<p>The MitoAge database is free for all purposes, including commercial, educational, and research purposes, provided however that you cite 
	the usage of MitoAge in subsequent presentations, publications, etc. Although referring to the URL might be enough in some cases (e.g., teaching 
	and websites), for scientific publications we ask that you cite the paper describing MitoAge.</p> 
	
	<p>Currently, a scientific paper describing this database is under preparation. If you would like to cite MitoAge before the publication we ask you 
	to please contact us.</p>

{% endblock %}
