{% extends 'static_pages/generic_static_page.html' %}

{% load staticfiles %}

{% block subtitle %} | User guide {% endblock%}
{% block page_title %}User guide {% endblock%}

{% block static_content %}

	<h4>Searching and browsing</h4>
	<p>MitoAge offers several possibilities for you to navigate through the available species and taxa.</p>
	<p>To <b>search</b>, you may type keywords or phrases relating to the species' common or scientific name that you wish to find. 
	As a result, a paginated list of species from the database is returned. Note that the search is case insensitive.</p>
	
	<p><b>Browsing</b> can be done in 3 ways: <ol> 
	<li>Browsing taxonomy - you can navigate through the taxonomy (classes, orders and families) in order to view computed mtDNA data 
	for the species of interest.</li>

	<li>Browsing stats - while browsing through the taxonomy, you are presented with statistical information for each taxonomic group and 
	for each of the analyzed mtDNA regions. If less than 5 species are found in a taxonomic group, the stats are replaced by an iteration 
	through the values.</li>

	<li>Browsing genes - similar to browsing stats, but restricted to a gene of interest (which you are asked to select in the beginning). 
	In this type of browsing you are provided with more limited information compared to browsing stats, however the navigation is faster. 
	</li>
</ol>
	<br/>
	</p>
	
	<h4>Stats for species of interest</h4>
	<p>When browsing through the taxa (or through the genes), basic sequence statistics for any taxonomic groups are also made available.
	The difference between the 2 ways of browsing can be seen in terms of stats. When browsing through genes, only the stats specific 
	to that gene are available. Contrastly, browsing taxa directly allows viewing sections for each of the regions of interest of the mtDNA. 
	<br/><br/></p>
	
	
	<h4>Downloading and using the data off-website</h4>
	<p>In order to perform more complex, comparative analyses, the website allows downloading the entire datasets. This can be done from 
	the Download page. A built counter and a built release date are provided to keep track of different database versions.</p> 


{% endblock %}
