{% extends 'browsing/generic_browsing.html' %}

{% load staticfiles %}

{% block subtitle %} | Browse genes {% endblock%}

{% block page_title %}Browse genes {% endblock%}

{% block content_description %} 
	<p>In total, our database contains information about {{paginator.count}} taxonomic classes:</p>
{% endblock %}

{% block browsing_content %}

	<div class="row">
		{% for taxonomy_class in object_list %}
			<div class="col-md-4">
			<li>
				{% if taxonomy_class.number_of_species != 0 %}
					<a href="{% url 'browse_class' taxonomy_class.pk %}">{{ taxonomy_class.name }}</a>
				{% else %} 
					{{ taxonomy_class }}
				{% endif %} 
				({{taxonomy_class.number_of_species}})
			</li>
			</div>
		{% endfor %}
	</div>
{% endblock %}



