{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap_pagination %}

{% block content %}
	<div class="container">
		<h1>{% block page_title %}{% endblock %}</h1>

		<div class="row">		
			<div class="col-md-12 column">
				<ul class="breadcrumb">
					{% block browse_title %}Browse:{% endblock %} 
					{% for crumb in breadcrumbs %}
						{% if forloop.last %}
							<li class="active">
								{{ crumb.name }}
							</li>
						{% else %}
							<li>
								<a href="{{ crumb.url }}">{{ crumb.name }}</a> <span class="divider"></span>
							</li>
						{% endif %}
					{% endfor %}
				
				</ul>
			</div>
		</div>

		{% block description_and_pagination %}
		<div class="row">
			
			{% if is_paginated %}
			<div class="col-md-7">
			{% else %}
			<div class="col-md-12">
			{% endif %}
				<ul class="pagination">
				{% block content_description %} {% endblock %}
				</ul>
			</div>
			
			{% if is_paginated %}
			<div class="col-md-5 top-buffer">
				{% bootstrap_paginate page_obj range=5 show_prev_next="true" show_first_last="true" previous_label="Previous" next_label="Next" first_label="First" last_label="Last"%}
			</div>
			{% endif %}
			
		</div>
		{% endblock %}

		{% block browsing_content %}{% endblock %}
		
	</div>
{% endblock%}

