{% extends 'browsing/generic_browsing.html' %}

{% load staticfiles %}

{% block subtitle %} | Stats for species {% endblock%}

{% block page_title %} {{ title|safe }} {% endblock%}

{% block browse_title %}Stats:{% endblock%}


{% block content_description %} 

{% endblock %}

{% block browsing_content %}

	<div class="row">
		{% if subtaxon %}
			{% for entry in object_list %}
				<div class="col-md-4">
					<li>
						<a href="{% url 'stats' entry.pk subtaxon %}"> {{ entry.name }} </a>
					</li>
				</div>
			{% endfor %}
		{% endif %}
	</div>

{% endblock %}
