{% extends 'browsing/generic_browsing.html' %}

{% load staticfiles %}

{% block subtitle %} | Browse taxonomy {% endblock%}

{% block page_title %}Browsing order <i>{{ taxonomy_order.name }}</i> {% endblock%}

{% block content_description %} 
	<p>Order <b>{{ taxonomy_order.name }}</b> contains {{paginator.count}} taxonomic families spanning {{taxonomy_order.number_of_species}} species.
	You can either use the <br/>links below to browse through the families, or you may <a class="btn btn-xs btn-primary" href="{% url 'stats' taxonomy_order.pk 'order' %}">view stats for the entire order</a> 
	</p>
{% endblock %}

{% block browsing_content %}

	<div class="row">
		{% for taxonomy_family in object_list %}
			<div class="col-md-4">
			<li>
				{% if taxonomy_family.number_of_species != 0 %}
					<a href="{% url 'browse_family' taxonomy_family.pk %}">{{ taxonomy_family.name }}</a>
				{% else %} 
					{{ taxonomy_family }}
				{% endif %} 
				({{taxonomy_family.number_of_species}})
			</li>
			</div>
		{% endfor %}
	</div>

{% endblock %}
