{% extends 'browsing/generic_browsing.html' %}

{% load staticfiles %}

{% block subtitle %} | Browse taxonomy {% endblock%}

{% block page_title %}Taxonomy browsing {% endblock%}

{% block content_description %} 
	<p>In total, our database contains information about {{paginator.count}} classes, spanning {{number_of_species}} species (in the brackets are the number of species in the class).
	You can either use the links below to browse through the classes, or you may <a class="btn btn-xs btn-primary" href="{% url 'stats' %}">view stats for all the species</a>
{% endblock %}


{% block browsing_content %}

	<div class="row">
		{% for taxonomy_class in object_list %}
			<div class="col-md-4">
			<li>
				{% if taxonomy_class.number_of_species != 0 %}
					<a href="{% url 'browse_class' taxonomy_class.pk %}">{{ taxonomy_class.name }}</a>
				{% else %} 
					{{ taxonomy_class }}
				{% endif %} 
				({{taxonomy_class.number_of_species}})
			</li>
			</div>
		{% endfor %}
	</div>
{% endblock %}



