{% extends 'browsing/generic_browsing.html' %}

{% load staticfiles %}

{% block subtitle %} | Browse taxonomy {% endblock%}

{% block page_title %}Browsing class <i>{{ taxonomy_class.name }}</i> {% endblock%}

{% block browsing_content %}

	<p>Class <b>{{ taxonomy_class.name }}</b> contains {{paginator.count}} taxonomic orders spanning {{taxonomy_class.number_of_species}} species.
	You can either use the links below to browse through the orders, or you may view stats <br/>for the <a href="">entire class</a>.</p>
	
	{% for taxonomy_order in object_list %}
		<li>
			{% if taxonomy_order.number_of_species != 0 %}
				<a href="{% url 'browse_order' taxonomy_order.pk %}">{{ taxonomy_order.name }}</a>
			{% else %} 
				{{ taxonomy_order }}
			{% endif %} 
			({{taxonomy_order.number_of_species}})
		</li>
	{% endfor %}

{% endblock %}




