{% extends 'browsing/generic_browsing.html' %}

{% load staticfiles %}

{% block subtitle %} | Browse taxonomy {% endblock%}

{% block page_title %}Browsing family <i>{{ taxonomy_family.name }}</i> {% endblock%}

{% block content_description %} 
	<p>Family <b>{{ taxonomy_family.name }}</b> contains {{paginator.count}} species.
	You can either use the links below to browse through the species, 
	<a class="btn btn-xs btn-primary" href="{% url 'export-table' 'total_mtDNA' taxonomy_family.pk 'family' %}">view all species ({{taxonomy_family.number_of_species}})</a> 
	or you may <a class="btn btn-xs btn-primary" href="{% url 'stats' taxonomy_family.pk 'family' %}">view stats for the entire family ({{taxonomy_family.number_of_species}})</a>
	</p>
{% endblock %}

{% block browsing_content %}

	<b>Species:</b>
	<div class="row">
		{% for species in object_list %}
			<div class="col-md-4">
			<li>
				<a href="{% url 'view_species' species.pk %}">{{ species.name }}{% if species.common_name %} ({{species.common_name}}){% endif %}</a>
			</li>
			</div>
		{% endfor %}
	</div>

{% endblock %}
