{% extends 'browsing/generic_browsing.html' %}

{% load staticfiles %}
{% load templatetags_extra %}

{% block subtitle %} | View species {% endblock%}

{% block page_title %}Viewing data for <i>{{ object.name }}</i> {% endblock%}

{% block description_and_pagination %}
{% endblock %}

{% block browsing_content %}

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#sectionA">General info</a></li>
        <li><a data-toggle="tab" href="#sectionB">Base composition - general</a></li>
        <li><a data-toggle="tab" href="#sectionC">Base composition - coding genes</a></li>
        <li><a data-toggle="tab" href="#sectionD">Codon usage</a></li>
    </ul>
    <div class="tab-content">
        <div id="sectionA" class="tab-pane fade in active">
          <br/>
          <div class="col-md-6">
			  <table class="table borderless">
			    <tbody>
			      <tr>
			        <td>Scientific name</td>
			        <td>{{ object.name }}</td>
			      </tr>
			      
			      <tr>
			        <td>Common name</td>
			        <td>{% if object.common_name %}{{ object.common_name }}{% else %}<i>Not recorded</i>{% endif %}</td>
			      </tr>
			      {% if object.hagr_id %}
			      <tr>
			        <td>Lifespan@AnAge</td>
			        <td>{% if object.lifespan %}{{ object.lifespan| stringformat:'.1f' }} years ({{ object.link_to_hagr|safe }}){% else %}<i>Not recorded</i> ({{ object.hagr_id }}){% endif %}</td>
			      </tr>
			      {% endif %}
			    </tbody>
			  </table>
		  </div>
        </div>

        <div id="sectionB" class="tab-pane fade">
	        <br/>
	        {% for section_name in general_sections %}
				<div class="panel panel-default base-composition-panel-body">
				  <div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							{% include "analysis/base_composition.html" with section=section_name base_composition=base_compositions|field_in_dictionary:section_name %}
						</div>
					</div>
				  </div>
				</div>
			{% endfor %}
        </div>
        <div id="sectionC" class="tab-pane fade">
        	</br>
	        {% for section_name in gene_sections %}
				<div class="panel panel-default base-composition-panel-body">
				  <div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							{% include "analysis/base_composition.html" with section=section_name base_composition=base_compositions|field_in_dictionary:section_name %}
						</div>
					</div>
				  </div>
				</div>
			{% endfor %}
        </div>
        <div id="sectionD" class="tab-pane fade">
        	</br>
	        {% for section_name in codon_usage_sections %}
				<div class="panel panel-default base-composition-panel-body">
				  <div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							{% include "analysis/codon_usage.html" with section=section_name codon_usage=codon_usages|field_in_dictionary:section_name %}
						</div>
					</div>
				  </div>
				</div>
			{% endfor %}
        </div>
    </div>

{% endblock %}






