{% extends 'browsing/generic_browsing.html' %}

{% load staticfiles %}
{% load templatetags_extra %}

{% block subtitle %} | View species {% endblock%}

{% block page_title %}Viewing data for <i>{{ object.name }}</i> {% endblock%}

{% block description_and_pagination %}
{% endblock %}

{% block browsing_content %}

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#sectionA">General info</a></li>
        <li><a data-toggle="tab" href="#sectionB">Base composition</a></li>
        <li><a data-toggle="tab" href="#sectionC">Base composition for genes</a></li>
        <li><a data-toggle="tab" href="#sectionD">Codon usage</a></li>
    </ul>
    <div class="tab-content">
        <div id="sectionA" class="tab-pane fade in active">
          <br/>
          <div class="col-md-4">
			  <table class="table borderless">
			    <tbody>
			      <tr>
			        <td>Scientific name</td>
			        <td>{{ object.name }}</td>
			      </tr>
			      
			      <tr>
			        <td>Common name</td>
			        <td>{% if object.common_name %}{{ object.common_name }}{% else %}<i>Not recorded</i>{% endif %}</td>
			      </tr>
			      {% if object.hagr_id %}
			      <tr>
			        <td>Lifespan@AnAge</td>
			        <td>{% if object.lifespan %}{{ object.lifespan }} ({{ object.link_to_hagr|safe }}){% else %}<i>Not recorded</i> ({{ object.hagr_id }}){% endif %}</td>
			      </tr>
			      {% endif %}
			    </tbody>
			  </table>
		  </div>
        </div>

        <div id="sectionB" class="tab-pane fade">
        
			{% for key, value in base_compositions.items %}
			<div class="row">
	          <div class="col-md-6">
				  <table class="table borderless">
				    <thead>
				      <tr>
				        <th width="300px">{{key|base_composition_nice_title}} (size: {{value.size}})</th>
				        <th>G</th>
				        <th>C</th>
				        <th>A</th>
				        <th>T</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>Base composition</td>
				        <td>{{value.g}}</td>
				        <td>{{value.c}}</td>
				        <td>{{value.a}}</td>
				        <td>{{value.t}}</td>
				      </tr>
				      <tr>
				        <td>Composition per 1kb</td>
				        <td>{{value.g}}</td>
				        <td>{{value.c}}</td>
				        <td>{{value.a}}</td>
				        <td>{{value.t}}</td>
				      </tr>
				      <tr>
				        <td>GC/AT composition (%)</td>
				        <td colspan="2">{{value.g}}</td>
				        <td colspan="2">{{value.a}}</td>
				      </tr>
				      <tr>
				        <td>GC/AT per 1kb</td>
				        <td colspan="2">{{value.g}}</td>
				        <td colspan="2">{{value.a}}</td>
				      </tr>
				    </tbody>
				  </table>
			  </div>
			</div>
			<hr/>
			{% endfor %}
			
        </div>
        <div id="sectionC" class="tab-pane fade">
			Section C
        </div>
        <div id="sectionD" class="tab-pane fade">
			Section D
        </div>
    </div>

{% endblock %}






