{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

	<div class="alert alert-info" role="info">
		<h4>ToDO list:</h4>
		<br/>
		<li> Create builds from Administration<br/> </li> 
		<br/>
		<li> Integrate DNA process algorithm in the admin <br/> </li> 
		<br/>
		<li> Statistics - aggregation <br/> </li> 
		<br/>
	</div>


	<div class="module" >
		<div class="alert alert-info" role="info">

			<h4>"Uploadable" files:</h4>
    		<br/>
		
			<li> 1) file - [5 Columns] Taxonomy: Species, Family, Order, Class, Common name.<br/></li> 
			<li> 2) file - [3 Columns]: Species, Lifespan, HAGRID<br/></li> 
			<li> 3) format for each BC file [7 Columns] -  Species, G, C, A, T, Others, mtDNA size<br/></li> 
			<li> 4) format for each codon file [ many Columns] - Species, Amino Acids, AUU - STOP Codons<br/></li> 
			<li> 5) additional info file [3-5? Columns] BC total: gi, Ref, Species, length non-coding (bp)? length non-coding without D-Loop (bp)? [+2?]<br/></li> 
			<br/><br/>
			
			<li> 3) BC files: 4 total files, 13 genes + 2 rrna + d-loop<br/></li> 
			<li> 4) codon files: 13 genes + 1 for total<br/></li> 

        </div>
    </div>

{% endblock %}
