{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

	<div class="alert alert-info" role="info">
		<h4>ToDO list:</h4>
		<br/>
		<li> Create builds from Administration<br/> </li> 
		<br/>
		<li> Integrate DNA process algorithm in the admin <br/> </li> 
		<br/>
		<li> Statistics - aggregation <br/> </li> 
		<br/>
		<li> Consider making taxonomy more flexible - to include more fields (but keep in mind that flattening it comes with some disadvantages) <br/> </li> 
		<br/>
		<li> Consider making a spin-off project to predict maximum lifespan (check if a inter-lab grant can be obtained = main question why it would be useful?) <br/> </li> 
		<br/>
		
		<li> search in any taxa (now only in species) <br/> </li> 
		<br/>
	</div>

	<div class="alert alert-info" role="info">
		<h4>ToDO now:</h4>
		<br/>
		<li> Stats taxonomy browsing<br/> </li> 
		<br/>
		<li> Stats display panels<br/> </li> 
		<br/>
		<li> Genes browsing<br/> </li> 
		<br/>
		<li> Download page<br/> </li> 
		<br/>
		<li> Statistics<br/> </li> 
		<br/>
		<li> Maybe move computation for per 1kb and % to a template tag? More generic like that...<br/> </li> 
		<br/>
		<li> To finish pagination in search<br/> </li> 
		<br/>
		<li> Extend breadcrumbs to include stat navigation<br/> </li> 
		<br/>
		<li> compute AA frequencies from codon entry<br/> </li> 
		<br/>
		<li> what about aliases?<br/> </li> 
		<br/>
	</div>

{% endblock %}
