{% load staticfiles %}

<hr>
		<div class="row clearfix">
			<div class="col-md-5 column">
				<address>
					<strong>Contact:</strong> Prof. Vadim E. Fraifeld
					<br/><br/>The Shraga Segal Department of Microbiology, Immunology and Genetics. 
					Faculty of Health Sciences, Ben-Gurion University of the Negev, P.O. Box 653, Beer-Sheva 8410501, Israel
					<br/><br/>Email: <img src="{% static 'images/contact.png' %}"/> 
				</address>
			</div>
			<div class="col-md-4 column">
				<dl>
					<dt>How to cite us:</dt>
					<dd>
						<br/>A scientific paper describing this database is currently under preparation. 
						If you would like to cite this database in the meantime we ask you to please contact us. 
					</dd>
				</dl>
			</div>
			<div class="col-md-3 column">
				<ul>
					<strong>Quick links:</strong>
					<br/><br/>
					<li>
						<a href="{% url 'terms' %}">Terms of use</a>
					</li>
					<li>
						<a href="{% url 'user_guide' %}">User guide</a>
					</li>
					<li>
						<a href="{% url 'methods' %}">Materials & methods</a>
					</li>
					<li>
						<a href="{% url 'faq' %}">Frequent questions</a>
					</li>
					<li>
						<a href="{% url 'glossary' %}">Glossary & definitions</a>
					</li>
				</ul>
			</div>
		</div>
