{% load staticfiles %}

<hr>
		<div class="row clearfix">
			<div class="col-md-4 column">
				<ul>
					<strong>Quick links:</strong>
					<li class="text-danger">
						Contact Privacy Statement
					</li>
					<li>
						<a href="{% url 'terms' %}">Terms of Use</a>
					</li>
					<li>
						<a href="{% url 'user_guide' %}">User guide</a>
					</li>
					<li>
						<a href="{% url 'glossary' %}">Glossary & definitions</a>
					</li>
					<li>
						<a href="{% url 'methods' %}">Materials & methods</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4 column">
				<address>
					<strong>Contact:</strong>
					<br>Kamchatka, 795 Folsom Ave, Suite 600
					<br>San Francisco, CA 94107
					<br><abbr title="Phone">P:</abbr> (123) 456-7890
				</address>
			</div>
			<div class="col-md-4 column">
				<dl>
					<dt>How to cite us:</dt>
					<dd>
						On every page you write!
					</dd>
					
					<br>
					
					<dt>Other info:</dt>
					<dd>
						Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
					</dd>
					<dd>
						Donec id elit non mi porta gravida at eget metus.
					</dd>
				</dl>
			</div>
		</div>
