{% load staticfiles %}

{% load templatetags_extra %}

<ul class="nav navbar-nav green_flame">
	<li>
		<a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Home</a>
	</li>
			
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-folder-open"></span> &nbsp;Browse<strong class="caret"></strong></a>
				
		<ul class="dropdown-menu green_flame">
			<li>
				<a href="{% url 'browse_taxonomy' %}">Taxonomy</a>
			</li>
					
			<li>
				<a href="{% url 'browse_genes' %}">Genes</a>
			</li>

			<li>
				<a href="{% url 'stats' %}">Stats</a>
			</li>
		</ul>
	</li>

	<li>
		<a href="{% url 'compare' %}"><span class="glyphicon glyphicon-th-list"></span> Compare stats (<span id="number-of-items-in-cart">{{request.session.compared_stats|length}}</span>)</a>
	</li>

</ul>
