{% load staticfiles %}

{% load templatetags_extra %}

{% if stats %}
	{% comment %}
	Results: [{{ stats.results }}]<br/>
	Query: [{{ stats.query }}]<br/>
	(time: {{stats.elapsed_time}})<br/> 
	Test: [{{ stats.test|safe }}]<br/>
	{% endcomment %}

	<script type="text/javascript">
		function addToCompare(value) {
		    var getUrl = window.location;
		    $.ajax({ 
		    	url:getUrl.protocol + "//" + getUrl.host+value,
		        success: function(response) {
					$("#number-of-items-in-cart").html(response['no_compared_stats']);
		        }
		    });
		}
	</script>
	
	<div class="link-to-table-data">
		{% if stats.in_cart %} yuhuu {% endif %}
		{% if is_in_cart %} yuhuu2 {% endif %}
		{% if stats.group_size > 5 %}
		<a href="javascript:void(0);" onClick="addToCompare('{{ stats.url_to_compare }}');"><span class="glyphicon glyphicon-plus"></span>&nbsp;Compare</a>&nbsp;&nbsp;
		{% comment %}<a href="{{ stats.url_to_compare }}"><span class="glyphicon glyphicon-plus"></span>&nbsp;Compare</a>&nbsp;&nbsp;{% endcomment %}
		{% endif %}
		<a href="{{ stats.url_to_export }}"><span class="glyphicon glyphicon-export"></span>&nbsp;Export table data</a>
	</div>
	
	
	<table class="table">
		<thead>
			<tr>
				<th colspan="8" class="text-center">Stats for {{stats.section|base_composition_nice_title|total_lower}} (group size: {{stats.group_size}} species)</th>
			</tr>
		</thead>
		
		{% include "analysis/_base_composition_stats_table.html" %}

	</table>
{% endif %}