{% load staticfiles %}

{% load templatetags_extra %}

{% if base_composition.is_empty %}
	<b>{{section|base_composition_nice_title}}:</b> 
	No data available for this section.
{% else %} 
{% with size=base_composition.size %}
<table class="table">
	<thead>
		<tr>
			<th width="330px">{{section|base_composition_nice_title}} (size: {{size}} bases)</th>
			<th class="text-center">GC</th>
			<th class="text-center">AT</th>
			<th class="text-center">G</th>
			<th class="text-center">C</th>
			<th class="text-center">A</th>
			<th class="text-center">T</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Base content (bases)</td>
			<td class="text-center">{{base_composition.gc}}</td>
			<td class="text-center">{{base_composition.at}}</td>
			<td class="text-center">{{base_composition.g}}</td>
			<td class="text-center">{{base_composition.c}}</td>
			<td class="text-center">{{base_composition.a}}</td>
			<td class="text-center">{{base_composition.t}}</td>
		</tr>
		<tr>
			<td>Base content per 1 kb (bases)</td>
			<td class="text-center">{{base_composition.gc|per_1kb:size }}</td>
			<td class="text-center">{{base_composition.at|per_1kb:size }}</td>
			<td class="text-center">{{base_composition.g|per_1kb:size}}</td>
			<td class="text-center">{{base_composition.c|per_1kb:size}}</td>
			<td class="text-center">{{base_composition.a|per_1kb:size}}</td>
			<td class="text-center">{{base_composition.t|per_1kb:size}}</td>
		</tr>
		<tr>
			<td>Base content (%)</td>
			<td class="text-center">{% percent base_composition.gc size 1 %}%</td>
			<td class="text-center">{% percent base_composition.at size 1 %}%</td>
			<td colspan="4"> </td>
		</tr>
	</tbody>
</table>
{% endwith %}
{% endif %}