{% extends 'static_pages/generic_static_page2.html' %}

{% load staticfiles %}

{% block subtitle %} | Statistics {% endblock%}

{% block static_content %}

	<h3>MitoAge Build 1.0</h3>
	
	<br/>
	
	<dl class="dl-horizontal">
		<dt>Release date:</dt>
		<dd>July 1st, 2015</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>Number of species:</dt>
		<dd>{{nr_of_species}} (species with fully sequenced mtDNA and maximum lifespan records)</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>Number of families:</dt>
		<dd>{{nr_of_families}}</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>Number of orders:</dt>
		<dd>{{nr_of_orders}}</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>Number of classes:</dt>
		<dd>{{nr_of_classes}}</dd>
	</dl>

{% endblock %}
