.form-group.search input{
	padding-right: 30px;
	padding-left: 6px;
	width: 200px;
}

.form-group.search:after{
	content: '\e003';
	font-family:'Glyphicons Halflings';
	font-size: 16px;
	color: #CCC;
	position: relative;
	left: -30px;
	top: 5px;
}

@media(max-width:1000px){
	.form-group.search:before{
		content: '';
	}
}

.img-center {
    margin: 0 auto;
}

.small-image {
	width: 100px;
}

.medium-image {
	width: 100px;
}

.large-image {
	width: 100px;
}

.borderless1 table {
    margin-bottom: 0px !important; 
}
.borderless td, .borderless th {
    border: none !important;
}

.base-composition-panel-body {
	background:#E6FCED;
}

.pubmed {
  display: inline-block;
  text-indent: -1000em;
  width: 45px;
  background: url(http://www.nlm.nih.gov/share/image/pubmed.gif) no-repeat;
}