.form-group.search input{
	padding-right: 30px;
	padding-left: 6px;
	margin-left: 10px;
	width: 250px;
}

.form-group.search:after{
	content: '\e003';
	font-family:'Glyphicons Halflings';
	font-size: 16px;
	color: #CCC;
	position: relative;
	left: -30px;
	top: 5px;
}

@media(max-width:1000px){
	.form-group.search:before{
		content: '';
	}
}

.img-center {
    margin: 0 auto;
}

.small-image {
	width: 100px;
}

.medium-image {
	width: 100px;
}

.large-image {
	width: 100px;
}

.mitoage-logo {
	width: 120px;
	margin-top: 5px;
}


.borderless1 table {
    margin-bottom: 0px !important; 
}
.borderless td, .borderless th {
    border: none !important;
}

.base-composition-panel-body {
	background:#E6FCED;
}

.pubmed {
  display: inline-block;
  text-indent: -1000em;
  width: 45px;
  background: url(http://www.nlm.nih.gov/share/image/pubmed.gif) no-repeat;
}

.green_flame > li > a:link, .green_flame > li > a:visited {
    color: #0f9d58;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #0C7E46;
}

.navbar-default .navbar-nav > .open{
    color: #0C7E46;
	background: #E6F2ED;
 }

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	color: #0C7E46;
	background: #E6F2ED;
}

.aa-icon {
	width: 120px;
	margin: 10px;
	font-size: 75%;
	font-weight: bold;
	float: left;
}

.aa-text {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.aa-panel {
	margin: 0px;
	padding: 0px;
	margin-top: -60px;
}

.link-to-table-data {
	font-size: 70%;
	float: right;
	color: #0C7E46;
}

.export-panel {
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	background:#E6FCED;
	border-style: solid;
	border-width: 1px;
    border-color: #0C7E46;	
}

.export-button {
	width: 100%;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
}

.smaller-font {
	font-size: 90%;
}